```scss
---
---

$medium-breakpoint: 100em

$header-bg-color: #ff3030;
$header-bg-color-secondary: #ff3030;

$header-h1-color: #ff3030
$header-headings-color: #ff3030;
$section-headings-color: #ff3030;

$body-link-color: #ff8e8e;
$blockquote-text-color: #ff8e8e;

/*
$code-bg-color: #494D4E;
$code-text-color: #494D4E;
*/

@import "{{ site.theme }}";
```
